extends layout

block content
  h1= title

  form(id='officeForm', action="/resource/office", method="POST")
    div.form-group
        label.officeAttr(for='department') office department
        input#department(type='text', name='department')
    div.form-group
        label.officeAttr(for='size') office size
        input#size(type='number', name='size')
    div.form-group
        label.officeAttr(for='strength') office strength
        input#strength(type='number', name='strength')
    input(type="submit")

  script.
    document.forms['officeForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });
